*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Core Styles*/

body{
    background: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3{
    margin: 0;
    padding: 1em;
}

p{
    margin: 0;
    padding: 1em;
}

.btn{
    background: #333;
    color: #fff;
    text-decoration: none;
    border: 1px solid #666;
    padding: 1em 2em;
    display: inline-block;
    margin: 5em;
}

.btn:hover{
    background: #eaeaea;
    color: #000;
}


/*Header Showcase*/

#header-showcase{
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#header-showcase .bg-img{
    position: absolute;
    background: #333 url('./assets/abstract-business-code-coder-270348.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    z-index: -1;
    opacity: 0.4;
}

#header-showcase h1{
    padding-top: 100px;
    padding-bottom: 25px 0;
}

#header-showcase .content-wrap,
#section-a .content-wrap{
    padding: 0 1.5em;
}

/*Section A*/

#section-a{
    padding-bottom: 1em;
    background: #eaeaea;
    color: #000;
}

/*Section B*/

#section-b{
    padding: 2em 1em 1em;
}

#section-b ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li{
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

#section-b .card-content{
    padding-top: 2em;
    padding-bottom: 2em;
}

#section-c{
    padding: 1em;
    background: #fff;
    color: #333;
}

#section-c .content-title{
     text-transform: capitalize;
}



#section-d .box{
    padding: 2em 1em;
    color: #fff;
}

#section-d .box:first-child{
    background: cornflowerblue;
}


/*Footer*/

#main-footer{
    background: #000;
    padding: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#main-footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1em;
}


/*Media Qurie*/

@media screen and (min-width: 700px){
   
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    
    #section-a .content-text{
        columns: 2;
        column-gap: 2em;
    }
    
    #section-a .context-text p{
        padding-top: 0;
    }
    
    
    .content-wrap,
    #section-b ul{
        grid-column: 2/4;
    }
    
    .box, #main-footer div{
        grid-column: span 2;
    }
    
    #section-b ul{
        display: flex;
        justify-content: space-around;
    }
    
    #section-b li{
        width: 31%;
    }
}